body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'Suit-Variable';
  src: url('../src/components/layout/SUIT-Variable.ttf');
}

#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family:'Suit-Variable' ;
}